USE [wbhealthscheme]
GO
/****** Object:  StoredProcedure [dbo].[GET_RATE_CODE_BY_NAME]    Script Date: 22-04-2026 13:03:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[GET_RATE_CODE_BY_NAME] 
	
	@Rate_code nvarchar(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
	[RATE_CODE] as [CODE]
      ,[DESCRIPTION]
      ,'Rs. ' + MAX_RATE + ' /-' AS [RATE]
      ,dbo.return_PACKAGE(PACKAGE) as  [PACKAGE]
      ,convert(nvarchar(10),[LAST_MOD_DATE],103) AS [AS ON(DATE)]
  FROM [wbhs_RATELIST_MASTER] where [DESCRIPTION] like '%' + @Rate_code + '%'
 
END

--EXEC GET_RATE_CODE_BY_NAME "spi"
