USE [wbhealthscheme]
GO
/****** Object:  StoredProcedure [dbo].[GetUnivBeneficiaryAuthenticationByUniqueId]    Script Date: 24-04-2026 12:57:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllBeneficiaryAuthenticationByMobileNumber]
	
	@mobileNo NVARCHAR(10)
	
	
AS

BEGIN	
 SET NOCOUNT ON;	
	SELECT
	mufd.[APP_ID] as ApplicationId,
	[BEN_NM] as BenName,	
	[AGE] as Age,		
	[ID_NO] IdNo, 
	(select mem_des from wbhs_member_description where mem_cd=relation) as Relation,
	replace(PHOTO_FTP,'wbhealthscheme.gov.in','~') as PhotoFtp,
	replace(SIGN_FTP,'wbhealthscheme.gov.in','~') as SignFtp,
	ward_name as WordName,   
	ward_tmc as WordTmc, 
    ward_gpb as WordGpb,
	convert(nvarchar(10),mubi.[effect_date],103) EffectDate
	FROM MBUCT_UNIV_familyDetails mufd
	join MBUCT_Univ_Office_Details mubo 
	on mufd.[PAN_ID] = mubo.[PAN_ID] and mubo.IS_EXISTS='1'	
	join MBUCT_univBasicInfo_ONLINE mubi 
	on mufd.[PAN_ID] = mubi.[PAN_ID] and mubi.IS_EXISTS='1'
	where mubi.MOBILE_NO=@mobileNo and mufd.IS_EXISTS='1'

	UNION ALL

	SELECT
	mufd.[APP_ID] as ApplicationId,
	[BEN_NM] as BenName,	
	[AGE] as Age,		
	[ID_NO] IdNo, 
	(select mem_des from wbhs_member_description where mem_cd=relation) as Relation,
	replace(PHOTO_FTP,'wbhealthscheme.gov.in','~') as PhotoFtp,
	replace(SIGN_FTP,'wbhealthscheme.gov.in','~') as SignFtp,
	ward_name as WordName,   
	ward_tmc as WordTmc, 
    [ward_govt] as WordGpb,
	convert(nvarchar(10),mubi.[effect_date],103) EffectDate
	FROM MBUCT_CLG_familyDetails mufd
	join MBUCT_Clg_Office_Details mubo 
	on mufd.HRMS_ID = mubo.HRMS_ID and mubo.IS_EXISTS='1'	
	join MBUCT_clgBasicInfo_ONLINE mubi 
	on mufd.HRMS_ID = mubi.HRMS_ID and mubi.IS_EXISTS='1'
	where mubi.MOBILE_NO=@mobileNo and mufd.IS_EXISTS='1'

	UNION ALL

	SELECT
	mufd.APP_ID as ApplicationId,
	BEN_NM as BenName,	
	AGE as Age,		
	ID_NO IdNo, 
	(select mem_des from wbhs_member_description where mem_cd=relation) as Relation,
	replace(PHOTO_FTP,'wbhealthscheme.gov.in','~') as PhotoFtp,
	replace(SIGN_FTP,'wbhealthscheme.gov.in','~') as SignFtp,
	ward_name as WordName,   
	ward_tmc as WordTmc, 
    ward_govt as WordGpb,
	convert(nvarchar(10),mubi.[effect_date],103) EffectDate
	FROM [dbo].[PNHYT_EMP_familyDetails] mufd
	join PNHYT_EMP_OFFICE_DETAILS mubo 
	on mufd.IOSMS_ID = mubo.IOSMS_ID and mubo.IS_EXISTS='1'	
	join PNHYT_empBasicInfo_ONLINE mubi 
	on mufd.IOSMS_ID = mubi.IOSMS_ID and mubi.IS_EXISTS='1'
	where mubi.MOBILE_NO=@mobileNo and mufd.IS_EXISTS='1'

	UNION ALL

	SELECT
	mufd.APP_ID as ApplicationId,
	BEN_NM as BenName,	
	AGE as Age,		
	ID_NO IdNo, 
	(select mem_des from wbhs_member_description where mem_cd=relation) as Relation,
	replace(PHOTO_FTP,'wbhealthscheme.gov.in','~') as PhotoFtp,
	replace(SIGN_FTP,'wbhealthscheme.gov.in','~') as SignFtp,
	ward_name as WordName,   
	ward_tmc as WordTmc, 
    ward_govt as WordGpb,
	convert(nvarchar(10),mubi.[effect_date],103) EffectDate
	FROM [dbo].[PNHYT_PEN_familyDetails] mufd
	join PNHYT_PEN_OFFICE_DETAILS mubo 
	on mufd.APP_ID = mubo.APP_ID and mubo.IS_EXISTS='1'	
	join PNHYT_penBasicInfo_ONLINE mubi 
	on mufd.APP_ID = mubi.APP_ID and mubi.IS_EXISTS='1'
	where mubi.pen_mob=@mobileNo and mufd.IS_EXISTS='1'

	UNION ALL

	SELECT 
	weo.APP_ID as ApplicationId,
	bname as BenName,
	(select  mem_des from wbhs_member_description where mem_cd=WFDIO.mem_cd) as Relation,
	age as Age,
	WFDIO.idno IdNo,
	EMP_BEN_IMG_PHOTO as PhotoFtp,
	EMP_BEN_IMG_SIG as SignFtp,
	convert(nvarchar(10),date_Form_B,103) as EffectDate,
	weo.ward_name as WordName,
	weo.WARD_GOVT as WordTmc,
	weo.WARD_TMC as WordGpb
	from wbhs_familyDetails_inservice_ONLINE WFDIO left join wbhs_familyDetails_inservice_ONLINE_PHOTO_SIGNATURE WFPO on wfpo.idno=WFDIO.idno 
	join wbhs_empBasicInfo_ONLINE weo on weo.app_id=WFDIO.app_id
	where weo.MOBILE_NO=@mobileNo 
	AND WFDIO.IS_EXISTS='1'

	UNION ALL

	select 
	weo.APP_ID as ApplicationId,
	bname as BenName,
	(select  mem_des from wbhs_member_description where mem_cd=WFDPO.mem_cd) as Relation,
	age as Age,
	WFDPO.idno  IdNo,
	PEN_BEN_IMG_PHOTO as PhotoFtp,
	PEN_BEN_IMG_SIG as SignFtp,
	convert(nvarchar(10),pen_date_form_Two,103) as EffectDate,
	weo.ward_name as WordName,
	weo.WARD_GOVT as WordTmc,
	weo.WARD_TMC as WordGpb
	from wbhs_familyDetails_pensioner_ONLINE WFDPO left join wbhs_familyDetails_PENSIONER_ONLINE_PHOTO_SIGNATURE WFPO on wfpo.idno=WFDPO.idno 
	join wbhs_penbasicinfo_ONLINE weo on weo.app_id=WFDPO.app_id
	where weo.pen_mob=@mobileNo
	AND WFDPO.IS_EXISTS='1'

     
END

-- exec GetAllBeneficiaryAuthenticationByMobileNumber '1231231230'  









