USE [wbhealthscheme]
GO
/****** Object:  StoredProcedure [dbo].[GetClgBeneficiaryAuthenticationByHrmsId]    Script Date: 20-05-2026 16:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetGovtEmpPenBeneficiaryAuthenticationByAppId]
	
	@AppId NVARCHAR(20)
	

AS
BEGIN
    SET NOCOUNT ON;
	

if SUBSTRING(@AppId,4,3)='EMP'
begin
select * from 
(
select weo.APP_ID as ApplicationId,
bname  as BenName,
(select  mem_des from wbhs_member_description where mem_cd=wbhs_familyDetails_inservice_ONLINE.mem_cd) as Relation,
age  as Age,
wbhs_familyDetails_inservice_ONLINE.idno as IdNo,
convert(nvarchar(10),date_Form_B,103) as EffectDate,
weo.ward_name as WordName,
iif(weo.WARD_GOVT='NOT ENTITLED','DOUBLE OCCUPANCY LARGE CABIN',weo.WARD_GOVT) as WordGpb,
weo.WARD_TMC as WordTmc,
DATEDIFF(hour,dob,GETDATE())/8766.0 AS AgeYearsDecimal
,CONVERT(int,ROUND(DATEDIFF(hour,dob,GETDATE())/8766.0,0)) AS AgeYearsIntRound
 ,DATEDIFF(hour,dob,GETDATE())/8766 AS AgeYearsIntTrunc
from wbhs_familyDetails_inservice_ONLINE left join wbhs_familyDetails_inservice_ONLINE_PHOTO_SIGNATURE WFPO on wfpo.idno=wbhs_familyDetails_inservice_ONLINE.idno 
join wbhs_empBasicInfo_ONLINE weo on weo.app_id=wbhs_familyDetails_inservice_ONLINE.app_id
where wbhs_familyDetails_inservice_ONLINE.app_id=@AppId
AND weo.IS_EXISTS='1' 
) as a where (a.[Relation]<>'Son(Upto 25 Years)' or a.AgeYearsDecimal<=25) 
and (a.[Relation]<>'MINOR SISTER' or a.AgeYearsDecimal<=18) 
and (a.[Relation]<>'MINOR BROTHER' or a.AgeYearsDecimal<=18)
order by a.idno
end

else
begin
select  * from 
(
select weo.APP_ID  as ApplicationId,
bname as BenName,
(select  mem_des from wbhs_member_description where mem_cd=wbhs_familyDetails_pensioner_ONLINE.mem_cd) as Relation,
age as Age,
wbhs_familyDetails_pensioner_ONLINE.idno,convert(nvarchar(10),pen_date_form_Two,103) as EffectDate,
weo.ward_name as WordName,
iif(weo.WARD_GOVT='NOT ENTITLED','DOUBLE OCCUPANCY LARGE CABIN',weo.WARD_GOVT) as WordGpb,
weo.WARD_TMC  as WordTmc,
DATEDIFF(hour,dob,GETDATE())/8766.0 AS AgeYearsDecimal
,CONVERT(int,ROUND(DATEDIFF(hour,dob,GETDATE())/8766.0,0)) AS AgeYearsIntRound
 ,DATEDIFF(hour,dob,GETDATE())/8766 AS AgeYearsIntTrunc
from wbhs_familyDetails_pensioner_ONLINE left join wbhs_familyDetails_PENSIONER_ONLINE_PHOTO_SIGNATURE WFPO on wfpo.idno=wbhs_familyDetails_pensioner_ONLINE.idno 
join wbhs_penbasicinfo_ONLINE weo on weo.app_id=wbhs_familyDetails_pensioner_ONLINE.app_id
where wbhs_familyDetails_pensioner_ONLINE.app_id=@AppId
AND weo.IS_EXISTS='1' 
)as a where (a.[Relation]<>'Son(Upto 25 Years)' or a.AgeYearsDecimal<=25) 
and (a.[Relation]<>'MINOR SISTER' or a.AgeYearsDecimal<=18) 
and (a.[Relation]<>'MINOR BROTHER' or a.AgeYearsDecimal<=18)
order by a.idno

end
END

-- exec GetGovtEmpPenBeneficiaryAuthenticationByAppId 'WB/EMP/12/000348631'  









